<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Main chat </title>
    <link rel="stylesheet" href="./assets/materialize.min.css">
    <style>.h4{padding:5px 15px; }p{padding: 15px;padding-top: 0; }h{font-size: 20px;font-family:sans-serif}</style>
</head>
<body>
    <% include ./main.ejs %>

    <div class="row" style="height: 450px;">

        <div class="container">
                <div class="l8">
                        <div class="card">
                            <h4 id='acct'><%= acct %></h4> <p><%= sex %> </p>
                        </div>
            
            
                    </div>

        </div>
        <div class="l4 light-blue"></div>
        <div class="row">
        <div class="container">
            <div class="card" id="disp">
                    <% load.forEach(function(item){if(item.name!=undefined){
                        %> <h4><%=item.name%> : <h> <%=item.msg%></h></h4>
                        <%}});%>

            </div>
        </div>
                <div class="container" id="typ"></div>
                <div class="l8">
                   <div class="container"> 
                     <form onsubmit="return one()" >  
                    <div class="input-field">
                        <input type="text" name="msg" id="msg" placeholder="Enter your message here">
                     </div>
                    
                     <div class="input-field">   
                        <button class="btn-large waves-effect" id="btn">Send</button>
                    </div>
                </form>                
            </div>
                </div>
        
            </div>
    


    </div>

    
</body>
<script src="./assets/materialize.min.js"></script>
<script src="./assets/socket.io.dev.js"></script>

<script>


var socket=io.connect(window.location.hostname);
//var socket=io.connect("http://"+window.location.hostname+':3000');
function one(){
    //btn.click();
    return false;
}
var name=acct.innerHTML;
var btn=document.getElementById('btn');
var t=document.getElementById('msg');
var disp=document.getElementById('disp');
var typ=document.getElementById('typ');
t.addEventListener('keypress',function(){
   console.log(name +"is typing"); socket.emit('typing',{typer:name});
});



socket.on('typing',function(data){
    console.log(data);
    typ.innerHTML="<em>"+data.typer+" is typing </em>";
});
btn.addEventListener('click',function(){
   
    
    var chat=t.value;
    socket.emit('chat',{name:name,msg:chat});
    t.value="";

});

socket.on('chat',function(data){
    typ.innerHTML="";
    disp.innerHTML+="<h4>"+data.name+": <h>"+data.msg+"</h></h4>";
})




  
</script>
</html>