<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JD Chat</title>
</head>
<body>
    <% include ./main.ejs %>
 
    <div class="container ">
     <div class="form section "style="width:300px; padding:40px; " >
    
    <div class="">
    <form action="/enter" method="post" onsubmit="return val()" >
        <div class="form-field">
       
            <label for="name">Your name</label>
             <input type="text" name="name" id="name" value="">
        
        </div>
        <div class="form-field">
        <p>
                <label>
                  <input name="sex" id="sex" type="radio" value="Male" />
                  <span>Male</span>
                </label>
              </p>
              <p>
                <label>
                  <input name="sex" type="radio" value="Female" />
                  <span>Female</span>
                </label>
              </p>
            </div>
            <div class="form-field">
              <label for="age">Your age</label>
             <input type="text" name="age" id="age" value="18">
        
            </div>
              <div class="form-field">
              <input type="submit" value="submit" class="btn-small waves-effect center-align">
            </div>
        

    </form>
</div>
</div>

 </div>
    <script>
    function val(){
      if(document.getElementById('name').value==""||document.getElementById('sex').value==""||document.getElementById('age').value=="")
      {
        alert("Fill in all the details");
        return false;

      }
      else{
        return true;
      }
      
    }
    
    </script>
    
</body>
</html>