<link rel="stylesheet" href="./assets/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav class="nav-wrapper inidgo" >
    
        <img src="assets/logo.jpg " class="brand-logo center" width="100px" >
     
    <div class="container">
    <ul class="center">
        <li> <a href="/">Home</a> </li>
     <!--   <li> <a href="#">About</a> </li>
        <li> <a href="#">Contact</a> </li>
        <li> <a href="#">Extra</a> </li>
    -->  

    </ul>
</div>
</nav>  
