<link rel="stylesheet" href="./assets/materialize.min.css">
<nav class="nav-wrapper inidgo" >
        
    <div class="container">
    <ul>
        <li> <a href="/">Home</a> </li>
     <!--   <li> <a href="#">About</a> </li>
        <li> <a href="#">Contact</a> </li>
        <li> <a href="#">Extra</a> </li>
    -->  

    </ul>
</div>
</nav>  
